<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.midlandroid.apps.android.laptimer"
      android:versionName="1.2.2 beta" android:versionCode="12">
    <application android:label="@string/app_name"
    		android:description="@string/app_desc"
    		android:testOnly="false"
    		android:icon="@drawable/timer_icon">
    		
        <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:launchMode="singleInstance" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
    	<activity android:name="TimerHistory"
    			android:label="@string/timer_history"
    			android:excludeFromRecents="true" />
        
        <activity android:name=".Preferences"
                android:label="@string/preferences"
                android:launchMode="singleInstance" android:excludeFromRecents="true"/>
        
        <service android:name=".background.BackgroundSrvc" android:enabled="true" android:exported="false"/>
</application>
    
    <uses-sdk android:minSdkVersion="4" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
</manifest> 